@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>

<p>Escreve algo sobre este projeto</p>

@section scripts
{
    <!--GitHub-->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
}

<a class="github-button" href="https://github.com/guisfits" aria-label="Follow guisfits on GitHub">Seguir guisfits</a>