@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Ocorreu algum erro";
}

<h1 class="text-danger">@ViewBag.Title</h1>
<h2 class="text-danger">Você não tem permissão para acessar este conteúdo</h2>

