<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Dashboard - Health Track</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="css/mainsheet.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-hearder">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="Dashboard.html" class="navbar-brand">Health Track</a>
                </div>
                <div class="navbar-collapse collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="Dashboard.html"><i class="fa fa-home"></i> Dashboard</a></li>
                        <li><a href="Pesos.html"><i class="fa fa-balance-scale"></i> Pesos</a></li>
                        <li><a href="Exercicios.html"><i class="fa fa-bicycle"></i> Exercícios</a></li>
                        <li><a href="Alimentacao.html"><i class="fa fa-cutlery"></i> Alimentação</a></li>
                        <li><a href="Pressao.html"><i class="fa fa-heartbeat"></i> Pressão Arterial</a></li>
                    </ul> 
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="DadosUsuario.html"><i class="fa fa-user-circle" aria-hidden="true"></i> Alterar dados</a></li>
                        <li><a href="Login.html"><i class="fa fa-sign-out" aria-hidden="true"></i> Sair</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">

            <!--Dados do usuário-->
            <div class="jumbotron row">
                <div class="col-md-4">
                    <div class="container">
                        <img alt="Foto do usuário" src="img/exemplo.jpg" class="img-circle img-responsive center-block profile-photo" width="230" height="230">
                    </div>
                </div>
                <div class="list col-md-8">
                    <ul>
                        <h2>Ola, Joãozinho</h2>
                        <p>Idade: ** anos</p>
                        <p>Peso: ** kg</p>
                        <p>Pressão arterial: ***/** mmHg</p>
                        <p>IMC: **** Status: "Normal"</p>
                    </ul>
                </div>
            </div>

            <div class="hidden-xs hidden-sm">
                    
                <!--Seção de pesos-->
                <hr /> 
                <div class="row">
                    <div class="col-md-4">   
                        <img class="img-circle" src="img/peso.jpg" alt="Uma mulher correndo" width="300">
                    </div>
                    <div class="panel panel-default col-md-8">
                        <div class="panel-heading">
                            <h3 class="panel-title">Seus últimos pesos cadastrados</h3>
                        </div>
                        <div class="">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Data</th>
                                        <th>Peso</th>
                                    <tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>04/06/2017</td>
                                        <td>80 kg </td>
                                    </tr>
                                    <tr>
                                        <td>04/06/2017</td>
                                        <td>80 kg </td>
                                    </tr>
                                    <tr>
                                        <td>04/06/2017</td>
                                        <td>80 kg </td>
                                    </tr>
                                    <tr>
                                        <td>04/06/2017</td>
                                        <td>80 kg </td>
                                    </tr>
                                    <tr>
                                        <td>04/06/2017</td>
                                        <td>80 kg </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!--Seção de exercícios-->
                <hr /> 
                <div class="row">
                    <div class="panel panel-default col-md-8">
                        <div class="panel-heading">
                            <h3 class="panel-title">Seus últimos exercícios cadastrados</h3>
                        </div>
                        <table class="table">
                            <thread>
                                <tr>
                                    <th>Data</th>
                                    <th>Horario</th>
                                    <th>Tipo</th>
                                    <th>Calorias</th>
                                    <th>Descrição</th>
                                </tr>
                            </thread>
                            <hbody>
                                <tr>
                                    <td>04/06/2017</td>
                                    <td>17h00</td>
                                    <td>Musculação</td>
                                    <td>200</td>
                                    <td>Inferior</td>
                                </tr>
                                <tr>
                                    <td>03/06/2017</td>
                                    <td>14h00</td>
                                    <td>Musculação</td>
                                    <td>180</td>
                                    <td>Série A</td>
                                </tr>
                                <tr>
                                    <td>02/06/2017</td>
                                    <td>13h00</td>
                                    <td>Musculação</td>
                                    <td>220</td>
                                    <td>Série B</td>
                                </tr>
                                <tr>
                                    <td>02/06/2017</td>
                                    <td>13h00</td>
                                    <td>Musculação</td>
                                    <td>220</td>
                                    <td>Série B</td>
                                </tr>
                                <tr>
                                    <td>02/06/2017</td>
                                    <td>13h00</td>
                                    <td>Musculação</td>
                                    <td>220</td>
                                    <td>Série B</td>
                                </tr>
                                <tr>
                                    <td>02/06/2017</td>
                                    <td>13h00</td>
                                    <td>Musculação</td>
                                    <td>220</td>
                                    <td>Série B</td>
                                </tr>
                            </hbody>
                        </table>
                    </div>

                    <div class="col-md-4">
                        <img class="img-circle" src="img/exercicio.jpg" alt="Ilustração de exercício" width="300">
                    </div>
                </div>

                <!--seção de alimentos-->
                <hr /> 
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-circle" src="img/alimentos.jpg" alt="Ilustração de alimentos saudaveis" width="300">
                    </div>
                    <div class="panel panel-default col-md-8">
                        <div class="panel-heading">
                            <h3 class="panel-title">Seus últimos alimentos cadastrados</h3>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Data</th> 
                                    <th>Horário</th> 
                                    <th>Tipo</th> 
                                    <th>Calorias</th> 
                                    <th>Descrição</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>04/06/2017</td>
                                    <td>9:00</td>
                                    <td>Jantar</td>
                                    <td>300</td>
                                    <td>Filé de Frango</td>
                                </tr>
                                <tr>
                                    <td>04/06/2017</td>
                                    <td>1:00</td>
                                    <td>Almoço</td>
                                    <td>300</td>
                                    <td>Filé de Frango</td>
                                </tr>
                                <tr>
                                    <td>04/06/2017</td>
                                    <td>1:00</td>
                                    <td>Almoço</td>
                                    <td>300</td>
                                    <td>Filé de Frango</td>
                                </tr>
                                <tr>
                                    <td>04/06/2017</td>
                                    <td>1:00</td>
                                    <td>Almoço</td>
                                    <td>300</td>
                                    <td>Filé de Frango</td>
                                </tr>
                                <tr>
                                    <td>04/06/2017</td>
                                    <td>1:00</td>
                                    <td>Almoço</td>
                                    <td>300</td>
                                    <td>Filé de Frango</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--seção de pressão-->
                <hr /> 
                <div class="row">
                    <div class="panel panel-default col-md-8">
                        <div class="panel-heading">
                            <h3 class="panel-title">Suas últimas pressões cadastradas</h3>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Data</th> 
                                    <th>Sistólica</th> 
                                    <th>Diastólica</th> 
                                    <th>Situação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>04/06/2017</td>
                                    <td>80</td>
                                    <td>120</td>
                                    <td>Normal</td>
                                </tr>
                                <tr>
                                    <td>05/04/2017</td>
                                    <td>85</td>
                                    <td>115</td>
                                    <td>Normal</td>
                                </tr>
                                <tr>
                                    <td>02/03/2017</td>
                                    <td>90</td>
                                    <td>110</td>
                                    <td>Normal</td>
                                </tr>
                                <tr>
                                    <td>02/03/2017</td>
                                    <td>90</td>
                                    <td>110</td>
                                    <td>Normal</td>
                                </tr>
                                <tr>
                                    <td>02/03/2017</td>
                                    <td>90</td>
                                    <td>110</td>
                                    <td>Normal</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <img class="img-circle" src="img/pressao.jpg" alt="Ilustração de pressão arterial">
                    </div>
                </div>

            </div> <!-- hidden -->
            
            <!--footer-->
            <hr />
            <footer class="footer">
                <div class="container">
                    <div class="row text-center">
                        <p> 2017 &copy Health Track</p>
                    </div>
                </div>
            </footer>
            
        </div> <!--container wrapper-->

        <script src="lib/jquery-3.2.1.js"></script>
        <script src="lib/bootstrap/js/bootstrap.js"></script>
    </body>
</html>