<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Recuperar Senha - Health Track</title>
        <meta charset="UTF-8">
        <meta name="description" content="Recuperar Senha - Health Track">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="css/mainsheet.css">
        <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css">
        <script src="lib/jquery-3.2.1.min.js"></script>
        <script src="lib/bootstrap/js/bootstrap.js"></script>
        <script src="lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="js/validation.js"></script>
        <script src="js/effects.js"></script>
    </head>
    <body>
        <div class="container">
            
            <img src="img/logo.png" id="logotipo" width="230" height="170" class="logo img-responsive center-block" alt="Logo Health Track">
            
            <form class= "form form-input" method="POST" role="form" id="recuperarSenhaForm" action="Dashboard.html">
                <fieldset>   
                    <legend>Recuperar senha</legend>             
                    
                    <div class="form-group" id="recuperarSenhaForm">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i></span>
                            <input type="email" class="form-control" name="emailRecuperarsenha" placeholder="Digite seu email" required autofocus>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </body>
</html>