@{
    ViewBag.Title = "Sobre";
}

@Html.Partial("_Logo")
<h2>@ViewBag.Title</h2>
<hr/>
<p class="medium-font">
    O Health Track é um projeto acadêmico criado para o curso de TDS da FIAP. A FIAP segue a metodologia de ensino orientado a projeto, onde cada aluno desenvolve sozinho um projeto ao longo do ano, colocando em prática todo seu conhecimento adquirido durante a graduação em um projeto real e ganhando experiência. Este projeto é o desafio do primeiro ano e consiste em criar uma aplicação web voltada para área de saúde, onde passarei por todas as fases no desenvolvimento de um software, desde seu gerenciamento, análise de requisitos, modelagem do banco de dados, construção de protótipos, elaboração das documentações, desenvolvimento da aplicação, testes e seu deploy.
</p>

<h4>Fases do projeto</h4>
<hr />
<ul class="medium-font">
    <li>DEVELOPMENT ENVIRONMENT</li>
    <li>PROTOTYPING</li>
    <li>MODELLING</li>
    <li>VIEW</li>
    <li>OOP</li>
    <li>MODEL</li>
    <li>INTEGRATION</li>
</ul>

<h4>Tecnologias usadas</h4>
<hr />
<ul class="medium-font">
    <li>ASP.NET MVC </li>
    <li>ASP.NET Identity </li>
    <li>EntityFramework </li>
    <li>SQL Server </li>
    <li>HTML </li>
    <li>CSS </li>
    <li>JavaScript </li>
    <li>jQuery </li>
    <li>Bootstrap </li>
    <li>Font-Awesome </li>
    <li>Arquitetura em Camadas</li>
    <li>Repository </li>
    <li>ViewModels </li>
    <li>Simple-Injector (IoC) </li>
    <li>AutoMapper </li>
    <li>Fluent Api </li>
    <li>Fluent Validation </li>
    <li>Unit of Work </li>
</ul>

<h4>Desenvolvedor</h4>
<hr />
<div>
    <a class="medium-font" href="https://www.linkedin.com/in/guisfits/"><i><span class="fa fa-linkedin-square"></span></i> Seguir</a>
</div>
<div>
    <a class="medium-font" href="https://github.com/guisfits"><i><span class="fa fa-github"></span></i> guisfits</a>
</div>

<footer class="footer">
    <hr/>
    <p class="row text-center">&copy; @DateTime.Now.Year - Health Track</p>
</footer>

@section scripts
{
    GitHub
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    @Scripts.Render("~/bundles/Site")
}